# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches e Ambientes Virtuais
.venv/
venv/
ENV/

# Configurações de IDEs locais
.vscode/
.idea/

# Sistema Operacional
.DS_Store
Thumbs.db

# Logs e arquivos temporários
*.log
*.tmp
